# macOS finder artifacts
.DS_Store
# todo

# Local env file
.env
.env.k6

# Build artifacts
bin
tmp

# Local npm cache for CI speedups
.npm-cache
node_modules
.next

.env.test
.env
.env.conformance
.env.k6
.env.local
