name: Dependency Review

on:
  pull_request:

permissions:
  contents: read

jobs:
  review:
    name: Dependency Review (GitHub)
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Dependency review
        uses: actions/dependency-review-action@v4
        with:
          fail-on-severity: high
